navbar{
	padding: 1rem 0;
}

.header-area {
  transition: all 0.6s ease-in;
  z-index: 999;
  font-family: Arial, Helvetica, sans-serif;
}

.scrolled {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #E88B38;
}
/* .shadow-custom{
	box-shadow: #959da533 0px 8px 24px;
} */

.nav-area{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
}

.navbar-brand{
	color: #fff;
	font-weight: 700;
	font-size: 1.5rem;
}

.navbar-nav li{
	margin: 0 1rem;
	color: #fff;
	transition: 1s;
}

.navbar-nav li a{
	color: #fff;
}

.navbar-nav li a:hover,
.navbar-nav li a:active{
	color: #161616;
}


.search{
	position: absolute;
	top: 0;
	right: 0;
}

.dropdown-menu{
    background-color: #E88B38;
	box-shadow: #959da533 0px 8px 24px;
	border: none;
}

.nav-item-active{
	color: #161618 !important;
}

.dropdown-menu li{
	margin: 0;
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}


@media only screen and (max-width: 992px) {
.navbar-brand{
    margin-left: 1rem;
    font-weight: 600;
}
    .navbar-nav li{
	border-bottom: 1px solid #b4b4b4;
    overflow: hidden;
}

.down-arrow-dropdown{
    float: right;
}

}

@media only screen and (max-width: 768px) {
    .navbar-nav{
        padding: 0 1rem;
    }
    .navbar-nav li{
        margin: .5rem 0;
    }

    .dropdown-menu li a{
        margin: .5rem 0;
    }
}

@media only screen and (max-width: 600) {
    
}